# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
/wp-content/plugins/*

# Keep plugins
#
# Note: If you wish to blacklist plugins,
# uncomment the next line and add your
# plugins
# !/wp-content/plugins/PLUGIN_NAME

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
/wp-content/themes/*

# Keep themes
#
# Note: If you wish to blacklist theme,
# uncomment the next line and set your
# theme name.
# !/wp-content/themes/YOUR_THEME_NAME

# ----- YOU DON'T NEED TO MODIFY FROM HERE ----- #
# General - A bunch of files to be ignored.
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
/vendor
/node_modules/
!.gitkeep
